<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @customer.date_of_birth %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @customer.ssn %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
