<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @account.id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>

<p>
  <strong>Email confirmed at:</strong>
  <%= @account.confirmed_at %>
</p>

<p>
  <strong>Last logged in at:</strong>
  <%= @account.last_sign_in_at %>
</p>

<p>
  <strong>Current IP address:</strong>
  <%= @account.current_sign_in_ip %>
</p>

